.services {
    display: flex;
    flex-direction: column;
    .services__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 80px 50px;
    }
}