.projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 0px;
    width: var(--desktop-width);
    margin: auto;
    .projects__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 80px 50px;
    }
}