.button {
    padding: 10px 20px;
    color: var(--light-color);
}

.button__primary {
    border: 2px solid var(--primary-color);
    &:hover {
        background-color: var(--primary-color);
    }
}

.button__secondary {
    background-color: var(--primary-color);
    &:hover {
        background-color: var(--secondary-color);
    }
}