button {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-family: 'Anteb-Regular', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: var(--primary-color);
    }
}