footer {
    padding: 100px 0px;
    color: var(--light-color);
    background-color: var(--primary-color);
    border-top: 50px solid var(--secondary-color);
    h3 {
        font-family: 'GorditaBold', sans-serif;
        font-size: var(--sub-title);
    }
    .footer__content {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-areas: 
        'logo socials locations contacts';
        .logo-superior {
            grid-area: logo;
            display: flex;
            align-self: center;
            width: 20vw;
            min-width: 300px;
            height: auto;
        }
        .footer__content-socials {
            grid-area: socials;
            display: flex;
            flex-direction: column;
            justify-self: left;
            gap: 15px;
            svg {
                width: 30px;
                height: auto;
            }
            .social {
                fill: var(--light-color);
                transition: 0.3s;
                &:hover {
                    fill: var(--secondary-color);
                }
            }
        }
        .footer__content-locations {
            grid-area: locations;
            display: flex;
            flex-direction: column;
            justify-self: left;
            gap: 10px;
            img {
                width: 30px;
                height: auto;
            }
            .footer__content-location {
                display: flex;
                gap: 15px;
                align-items: center;
                line-height: 30px;
            }
        }
        .footer__content-contacts {
            grid-area: contacts;
            display: flex;
            flex-direction: column;
            justify-self: left;
            gap: 10px;
            img {
                width: 25px;
                height: auto;
            }
        }
        .footer__content-item {
            display: flex;
            gap: 15px;
            &:has(svg) {
                flex-direction: column;
            }
            &:has(h4, p) {
                line-height: 30px;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    footer {
        .footer__content {
            width: 90%;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1300px) {
    footer {
        .footer__content {
            grid-template-areas: 
            'logo logo logo'
            'locations socials socials'
            'locations contacts contacts';
            grid-template-columns: auto;
            justify-items: center;
            .footer__content-item {
                width: fit-content;
                &:has(svg) {
                    flex-direction: row;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        .footer__content {
            grid-template-areas: 
            'logo'
            'socials'
            'locations'
            'contacts';
            grid-template-columns: repeat(1, auto);
        }
    }
}