.iso-logo {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
    svg {
        fill: var(--dark-gray);
        min-width: 400px;
        width: 100%;
        height: auto;
        opacity: .15;
    }
}