.title {
    display: flex;
    flex-direction: column;
    font-family: 'Anteb-Regular', sans-serif;
    font-weight: 800;
    .title__primary {
        color: var(--light-color);
        font-weight: 800;
        h1 {
            font-size: var(--primary-title);
        }
    }
    h1 {
        font-size: var(--secondary-title);
    }
    .title__content-line {
        display: flex;
        h1 {
            padding-bottom: 30px;
            white-space: nowrap;
            color: var(--primary-color);
            border-bottom: 4px solid var(--primary-color);
        }
        .line {
            width: 100%;
            border-bottom: 4px solid var(--gray);
        }
    }
    .title__content-uppercase {
        h1 {
            text-transform: uppercase;
            color: var(--light-color);
        }
        .line {
            display: none;
        }
    }
}