.title {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: var(--secondary-title);
        font-weight: 800;
    }
    .title__content-line {
        display: flex;
        h1 {
            padding-bottom: 30px;
            white-space: nowrap;
            color: var(--primary-color);
            border-bottom: 4px solid var(--primary-color);
        }
        .line {
            width: 100%;
            border-bottom: 4px solid var(--gray);
        }
    }
    .title__content-uppercase {
        h1 {
            text-transform: uppercase;
            color: var(--light-color);
        }
        .line {
            display: none;
        }
    }
}