.home {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center;
    .home__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .home__content {
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        h1 {
            font-size: var(--primary-title);
        }
        p {
            max-width: 600px;
            font-family: 'Anteb-Thin', sans-serif;
            font-size: var(--text-large);
            font-weight: 800;
            line-height: 35px;
        }
    }
    &::after {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(41, 69, 35, 0.5);
    }
}

@media screen and (max-width: 768px) {
    .home {
        .home__content {
            p {
                line-height: 30px;
            }
        }
    }
}