.home-projects {
    display: flex;
    gap: 8vw;
    img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.1);
    }
    .home-projects-tex {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 40px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 1024px) {
    .home-projects {
        img {
            aspect-ratio: 8 / 10;
        }
    }
}

@media screen and (max-width: 768px) {
    .home-projects {
        flex-direction: column;
        img {
            width: 100%;
            aspect-ratio: 16 / 10;
        }
    }
}

@media screen and (max-width: 425px) {
    .home-projects {
        img {
            aspect-ratio: 1 / 1;
        }
    }
}