.home-services {
    display: flex;
    flex-direction: column;
    .home-services__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 80px 50px;
    }
}

@media screen and (max-width: 1024px) {
    .home-services {
        .home-services__content {
            gap: 30px 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .home-services {
        .home-services__content {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 30px 20px;
        }
    }
}

@media screen and (max-width: 425px) {
    .home-services {
        .home-services__content {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px 20px;
        }
    }
}