:root {
    --primary-color: #5D974A;
    --secondary-color: #294523;
    --light-color: #FFFFFF;
    --dark-color: #000000;
    --gray: #E0E0E0;
    --dark-gray: #9E9E9E;

    --primary-title: clamp(2.3rem, 7vw, 3.8rem);
    --secondary-title: clamp(2rem, 5vw, 2.5rem);
    --sub-title: clamp(1.3rem, 2.1vw, 1.5rem);

    --text-large: clamp(1.3rem, 3vw, 1.6rem);
    --text-medium: clamp(1.1rem, 3vw, 1.3rem);
    --text-small: clamp(1rem, 3vw, 1.1rem);
    --text-xsmall: clamp(0.7rem, 3vw, 0.9rem);

    --desktop-width: 85%;
    --tablet-width: 95%;
    --movile-width: 90%;
}

@font-face {
    font-family: 'Anteb-Regular';
    src: url('./assets/fonts/Anteb-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Anteb-SemiLight';
    src: url('./assets/fonts/Anteb-SemiLight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Anteb-Thin';
    src: url('./assets/fonts/Anteb-Thin.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Anteb-Thin', sans-serif;
    font-weight: 800;
    font-size: var(--text-medium);
    letter-spacing: 1px;
}

a {
    color: white;
    text-decoration: none;
    &:has(svg) {
        line-height: 0px;
    }
}

label, input, textarea {
    display: block;
    width: 100%;
    font-size: inherit;
    letter-spacing: normal;
    padding: 5px 4px;
}

textarea {
    height: 160px;
    resize: none;
}

button {
    display: inline-block;
    align-self: baseline;
    font-family: 'Anteb-Regular', sans-serif;
    font-size: var(--text-small);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

section {
    padding: 100px 0px;
}

.container {
    gap: 40px;
    width: var(--desktop-width);
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .container {
        width: var(--tablet-width);
    }
}