.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    .slide {
        display: flex;
        justify-content: center;
        padding: 100px 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        .slide__hidden {
            display: none;
        }
        .slide__content {
            width: var(--desktop-width);
            margin: auto;
        }
    }
    .slider__tab {
        position: absolute;
        bottom: 0;
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        opacity: .3;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
            cursor: pointer;
        }
    }
    .slider__tab-left {
        left: 0;
    }
    .slider__tab-right {
        right: 0;
        transform: rotate(180deg);
    }
    .arrow {
        width: 2rem;
        height: auto;
    }
    .arrow__left {
        left: 1rem;
    }
    .arrow__right {
        right: 1rem;
    }
    .slider__buttons {
        display: flex;
        position: absolute;
        bottom: 2rem;
        gap: 0.8rem;
    }
    .slider__button{
        width: 0.8rem;
        height: 0.8rem;
        border: none;
        border-radius: 100%;
        background-color: var(--primary-color);
        outline: none;
    }
    .slider__button-inactive {
        background-color: var(--light-color);
    }
}