.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    &::after {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(41, 69, 35, 0.3), 65%, rgba(91, 151, 74, 0.3));
    }
    .slide {
        display: flex;
        justify-content: center;
        padding: 100px 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        .slide__hidden {
            display: none;
        }
        .slide__content {
            z-index: 1;
            display: flex;
            flex-direction: column;
            p {
                max-width: 550px;
                line-height: 35px;
                color: var(--light-color);
            }
        }
    }
    .slider__tab {
        z-index: 1;
        position: absolute;
        bottom: 0;
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        opacity: .3;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
            cursor: pointer;
        }
    }
    .slider__tab-left {
        left: 0;
    }
    .slider__tab-right {
        right: 0;
        transform: rotate(180deg);
    }
    .arrow {
        width: 2rem;
        height: auto;
    }
    .arrow__left {
        left: 1rem;
    }
    .arrow__right {
        right: 1rem;
    }
    .slider__buttons {
        z-index: 1;
        display: flex;
        position: absolute;
        bottom: 2rem;
        gap: 0.8rem;
    }
    .slider__button{
        width: 0.8rem;
        height: 0.8rem;
        border: none;
        border-radius: 100%;
        background-color: var(--primary-color);
        outline: none;
    }
    .slider__button-inactive {
        background-color: var(--light-color);
    }
}

@media screen and (max-width: 1024px) {
    .slider {
        height: 600px;
        .slide {
            .container {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .slider {
        .slider__tab {
            width: 50px;
        }
        .slide {
            .container {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .slider {
        .slide {
            .container {
                width: 75%;
            }
        }
    }
}